@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */
    height: 100vh;
    width: 100%;
    background: linear-gradient(#e66465, #9198e5);
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 600px;
    display: flex;
    background-color: rgb(32, 16, 77);
    /* border: 1px solid blue; */
    border-radius: 20px;
}

.screen {
    display: flex;
    flex-direction: column;
    /* border: 1px dashed white; */
    background-color: rgb(172, 171, 171);
    height: 15%;
    width: 85%;
    border-radius: 20px;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: flex-end;
    font-size: 40px;
    padding: 5px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(7, 71, 87);;
}

.prev-screen {
    /* border: 1px solid black; */
    font-size: 20px;
    /* font-weight: bold; */
    /* height: 30%; */
    text-align: right;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    color: rgb(57, 99, 214);
}

.numbergrid {
    display: grid;
    padding: 1%;
    /* border: 1px dashed white; */
    height: 70%;
    width: 90%;
    border-radius: 20px;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: rgb(32, 16, 77); */
}


button {
    background-color: rgb(240, 173, 97);
    border-radius: 20px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}

.operator {
    background-color: rgb(170, 146, 235);
}

.equal-sign {
    background-color: rgb(170, 146, 235);
    /* grid-column-start: 3; */
    /* grid-column-end: 5; */
}

.all-clear {
    background-color: rgb(170, 146, 235);
}

.cur-clear {
    background-color: rgb(170, 146, 235);
}

/* .modulo {
    background-color: rgb(170, 146, 235);
} */

.norp {
    background-color: rgb(170, 146, 235);
}

.selected {
    background-color: rgb(247, 163, 138);
}